$bg: #f2f3f5;
$black: #000;
$white: #fff;
$grey: rgba($black, .4);
$grey1: rgba($black, .55);
$grey2: rgba($black, .85);
$grey3: rgba($black, .2);
$grey4: rgba($black, .5);
$blue: #32BEA6;
$blue1: #1c917d;
$red: #FF2B2B;
$red1: #c32626;
$sidebar: #2A2D34;
$sidebar1: #656C7C;
$input: #cfd8dc;